@model Person

<html>
<head>
    <style>

        .Header {
            color: #000;
            font-weight: 700;
            border-bottom: 2px solid black;
        }

        .Contents {
            font-weight: normal;
        }

        .Header, .Contents {
            text-align: center;
        }
    </style>
</head>
<h1>Tables</h1>

<table style="width: 100%">
    <tr class="Header">
        <th>Id</th>
        <th>Vardas</th>
        <th>Pavardė</th>
        <th>Gimimo metai</th>

    </tr>
        <tr class="Contents">
            <th>@Model.Id</th>
            <th>@Model.Vardas</th>
            <th>@Model.Pavarde</th>
            <th>@Model.GimimoMetai</th>
            <th><a asp-action="DeletePerson" asp-route-id="@Model.Id">Delete</a></th>
            <!--<th><a asp-action="UpdatePerson" asp-route-id="@Model.Id">Update Birthday</a></th>-->
            
        </tr>
    


</table>


</html>